export default {
    domoticzUrl: '',
    host: 'localhost',
    port: '',
    timeout: 5000,
    siteUrl: '*',
    authorization: '',
    users: [{
        test: 'test'
    }],
    jwt: {
        secretKey: 'key',
        expires: 6000
    },
    cors: {
        origin: 'http:localhost:8080'
    }
};
